
@import url(./fonts.css);

/* css variables */
@import url(./partials/variables.css);

/* start navigation */
.header_area.main-menu.navbar.navbar-brand{
    padding: 0 2rem 0 5rem;
}
.header_area .main-menu .navbar{
    padding: 1rem 18rem;
}

.header_area .main-menu .nav-item .nav-link{
    font:normal 500 15px/2px var(--roboto); /* 2px is lign height*/
    text-transform: uppercase;
    color:var(--title-color);
    padding: 1.7rem;
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.header_area .main-menu .navbar-nav  a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
img{
    border-radius: 15%;
}
/* end navigation */

/* Banner Area start */
.site-main .site-banner{
    background: url(../img/site-main-background2.jpg) no-repeat 0% 50%;
    background-size:cover;
}

.site-main .site-banner .site-title h3{
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after{
    content:'';
    height: 2px;
    width: 18vw;
    display: inline-block;
    margin-left: 4%;
    transform: translateY(-5px);
    background-color: black;
}

.site-main .site-banner .site-title h1{
    font-size: 2rem;
    font-weight: 600;
}

.site-main .site-banner .site-title h4{
    font-size: 1.5rem;
    margin-left: 4%;
}

.site-main .site-banner .banner-image>img{
    padding: 7rem 0;
    width: 90rem;
}

.title-text{
    font: normal bold 50px/72px var(--roboto);
}
.text-uppercase{
    text-transform: uppercase;
}

.button{
    padding: .8rem 2.2rem;
    font:normal 500 16px/20px var(--roboto);
    position: relative;
    border-radius: 8px;
    /* border: 3px solid transparent; */
}

.button.primary-button{
    background:var(--gradient-color);
    background-clip: padding-box;
    color:whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}
.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color:black;
}

.button.primary-button::after, .button.secondary-button::after{
    
    position: absolute;
    top: -2px; left:-2px;
    bottom:-2px;right:-2px;
    content:'';
    z-index:-1;
    border-radius: 4px;
    background:var(--gradient-color);
}

.button.secondary-button{
    background:white;
    background-clip: padding-box;
    transition: background .6s ease;
 
}
.button.secondary-button:hover{
    background: var(--gradient-color);
    background-clip: padding-box;
    color:white;
    box-shadow: var(--box-shadow);
}



/* Banner area end */